@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
    --background: #F5F5FA;

    --border-radius: 10px;

    --table-background: #FFF;
}

* {
    font-family: var(--font-family);
}

body {
    background: var(--background);
}

.container {
    max-width: 1441px;
    width: 100%;
    margin: 0px auto;
}

.journey {
    display: flex;
    align-items: top;
    background: var(--table-background);
    border-radius: var(--border-radius);
    padding: 20px 26px;
}

table {
    white-space: nowrap;
}

.students-table {
    width: 250px;
}

.grades-table-container {
    max-width: 1000px;
    width: 100%;
    overflow-x: auto;
}

.grades-table {
    width: 100%;
    text-align: center;
}

.grades-table td {
    padding: 2px 5px;
}

.form {
    display: flex;
    flex-direction: column;
    background: var(--table-background);
    border: 1px solid #e9e9e9;
    border-radius: var(--border-radius);
    max-width: 500px;
    width: 100%;
    padding: 22px 28px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header h2 {
    font-weight: 600;
    font-size: 18px;
}

.form-section {
    border: 1px solid #e9e9e9;
    border-radius: var(--border-radius);
    padding: 10px 12px;
}

.form-description {
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    margin-block: 5px 15px;
}

.form table {
    width: fit-content;
    border: 1px solid #e9e9e9;
    border-radius: var(--border-radius);
    padding: 10px 12px;
    font-size: 14px;
}

.form table th {
    font-weight: 600;
}