@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Montserrat", sans-serif;
    --background: #F5F5FA;

    --border-radius: 10px;

    --table-background: #FFF;

    --color: #FFF; 
    --primary: #5E81F4;
    --primary-hover: #475EAB;
}

* {
    font-family: var(--font-family);
}

body {
    background: var(--background);
}

.button.primary {
    background: var(--primary);
    color: var(--color);
    font-weight: bold;
    padding: 14px 28px;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.button.primary:hover {
    background: var(--primary-hover);
}

.container {
    max-width: 1441px;
    width: 100%;
    margin: 0px auto;
}

.journey {
    display: flex;
    align-items: top;
    background: var(--table-background);
    border-radius: var(--border-radius);
    padding: 20px 26px;
}

table {
    white-space: nowrap;
}

.students-table {
    width: 250px;
}

.grades-table-container {
    max-width: 1000px;
    width: 100%;
    overflow-x: auto;
}

.grades-table {
    width: 100%;
    text-align: center;
}

.grades-table td {
    padding: 2px 5px;
}

.form {
    display: flex;
    flex-direction: column;
    background: var(--table-background);
    border: 1px solid #e9e9e9;
    border-radius: var(--border-radius);
    max-width: 500px;
    width: 100%;
    padding: 22px 28px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header h2 {
    font-weight: 600;
    font-size: 18px;
}

.form-section {
    border: 1px solid #e9e9e9;
    border-radius: var(--border-radius);
    padding: 10px 12px;
    margin-block: 5px;
}

.form-section h3 {
    font-weight: 600;
    margin-block: 5px;
}

.form-section-select {
    width: 100%;
    background: var(--background);
    border-radius: var(--border-radius);
    padding: 10px 15px;
    margin-block: 10px;
    appearance: none;
}

.form-description {
    color: #888888;
    font-weight: 400;
    font-size: 14px;
    margin-block: 5px 15px;
}

.form table {
    width: fit-content;
    padding: 10px 12px;
    font-size: 14px;
}

.form table th {
    font-weight: 600;
}










.section {
    width: 100%;
    background: var(--table-background);
    border-radius: var(--border-radius);
    border: 1px solid #e0e0e0;
    padding: 14px 20px;
}

.section.double {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.section h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.groups-list, .journal-list {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px 5px;
    max-height: 180px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-right: 10px;
}

.groups-list button {
    font-size: 14px;
    height: 60px;
    background: var(--table-background);
    border: 1px solid #e0e0e0;
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
}

.groups-list button:hover, .journal-list button:hover {
    font-weight: 600;
    color: var(--color);
    background: var(--primary);
}

.journal-list {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
}

.journal-list button {
    font-size: 14px;
    padding: 10px 20px;
    background: var(--table-background);
    border: 1px solid #e0e0e0;
    border-radius: var(--border-radius);
    transition: all 0.2s ease-in-out;
    text-align: left;
}